
<div class="container-fluid">
    <header>
        <app-navbar [isLoggedIn]="isLoggedIn" (btnClick)="handleAuthentication($event)"></app-navbar>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>

    </footer>
</div>


        <!-- <div>
            <button *ngIf="!isLoggedIn" mat-button (click)="login()">Login</button>
            <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
        </div> -->

        <div class="m-10">
            <button class="btn btn-outline-secondary mt-2 mr-2" (click)="getAlbums()">Get Albums</button>
        </div>
        <div class="m-10">
            <button class="btn btn-outline-info mt-2 mr-2" (click)="getAlbum(4)">Get Album</button>
        </div>
        <div class="m-10">
            <button class="btn btn-outline-success mt-2 mr-2" (click)="createAlbum()">Create Album</button>
        </div>
         <div class="m-10">
            <button class="btn btn-outline-warning mt-2 mr-2" (click)="updateAlbum()">Update Album</button>
        </div>
         <div class="m-10">
            <button class="btn btn-outline-primary mt-2 mr-2" (click)="deleteAlbum()">Delete Album</button>
        </div>




