
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                    <div>
                        <ul class="d-flex" style="display: block; padding: 0; margin: 0;">
                            <span *ngIf="isLoggedIn" class="pull-right p-2" style="color: white;">welcome {{userName}}</span>
                            <li style="margin: 0; padding:  0;">
                                    
                                    <button *ngIf="isLoggedIn" class="btn btn-outline-warning p-2" (click)="logout()">Logout</button> 
                                    <button *ngIf="!isLoggedIn" class="btn btn-outline-primary p-2" (click)="login()">Login</button>  
                            </li>
                                           
                        </ul>

                    </div>    
                
                    
                
            </div>

        </div>     
    </nav>
